.container {
  margin: 0 auto;
  margin-top: 20px;
  width: 308px;
  text-align: center;
}

.box {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  text-align: center;
  font-size: 85px;
}

.topRow div {
  border-top: none;
}

.bottomRow div {
  border-bottom: none;
}

.leftBox {
  border-left: none;
  float: left;
  display: block;
}

.rightBox {
  border-right: none;
  float: right;
  display: block;
}

.turnDisplay {
  font-size: 40px;
  text-align: center;
}

.score {
  width: 100%;
}

.header {
  text-align: center;
  margin-top: 50px;
}

.header img {
  height: 200px;
  display: inline-block;
  padding: 0 30px 10px 30px;
}