a:link {
  text-decoration: none;
}

.gameBoard {
  margin: 0 auto;
  margin-top: 20px;
  width: 335px;
  text-align: center;
  border: 1px solid #CCC;
  border-radius: 50px;
  padding: 30px;
  display: table;
}

.box {
  display: table-cell;
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  text-align: center;
  font-size: 85px;
  vertical-align: middle;
}

.topRow, .bottomRow, .middleRow {
  display: table-row;
}

.topRow > div {
  border-top: 0;
}

.bottomRow > div {
  border-bottom: 0;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.turnDisplay {
  font-size: 40px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
}

.winner {
  text-align: center;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 10px;
}

.won {
  color: #00be00;
}

.lost {
  color: #be0019;
}

.header {
  text-align: center;
  margin-top: 50px;
}

.header img {
  height: 200px;
  display: inline-block;
  padding: 0 30px 10px 30px;
}

.controlsAndScore {
  text-align: center;
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.controls {
  display: inline-block;
  margin-right: 50px;
}

.controls button {
  float: left; /* this fixes the controls and score divs being misaligned */
  margin-left: 20px;
}

.score {
  display: inline-block;
  margin-right: 20px;
}

.score table {
  width: 90px;
}

.score h4 {
  margin: 0 0 10px 0;
}

.footer {
  width: 60%;
  color: #777;
  border-top: 1px solid #e5e5e5;
  padding: 10px 10px 0 10px;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}